<header>
    <div class="docs-header-section">
      <div class="docs-header-headline">
        <h1 class="mat-h1 handwriting">Thanks A Ton</h1>
        <h2>"Thanks a lot for this donation. Your funds will be put to good use!" - <a style = "color: white" href="https://github.com/afshawnlotfi">Afshawn Lotfi</a> Founder</h2>
      </div>
      <div class="row"> 
        <div class="column">
          <img alt="" width="230" height="230" style = "border-radius: 50%" src="https://avatars2.githubusercontent.com/u/6283745?s=460&amp;v=4">
        </div>
      </div>
      <div class="button-row docs-header-start" >
          <a style = "color: white" mat-stroked-button href="https://github.com/KrossyKey/krossykey">Github</a>
          <a style = "color: white" mat-stroked-button href="/home">Home</a>
      </div>
    </div>
</header>
  
