<header>
    <div class="docs-header-section">
      <div class="docs-header-headline">
        <h1 class="mat-h1 handwriting">KrossyKey</h1>
        <h2>The easy way to store your accounts offline, cross platform, and securely</h2>
      </div>
      <div class="button-row docs-header-start" >
          <a style = "color: white" mat-stroked-button href="https://github.com/KrossyKey/krossykey">Github</a>
          <a style = "color: white" mat-stroked-button href="/demo">Demo</a>
          <a style = "color: white" mat-stroked-button href="https://github.com/KrossyKey/krossykey/releases">Downloads</a>
          <a style = "color: white" mat-stroked-button href="/documentation">Docs</a>
          <a style = "color: white" mat-stroked-button href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=TRET57ZQWBLEC">Donate</a>


      </div>
    </div>
</header>
  
  <div class="row"> 
  <div class="column">
    <img src="https://github.com/KrossyKey/krossykey/raw/master/images/desktopPasswords.png" style="width:40%">
  </div>
  

  </div>